@use '../../../styles/utils.scss';
@import '../../../styles/guidelines.scss';

.manageCreatorsCell {
	font-size: 14px !important;
	color: $teal_9;
	// font-weight: $fontweight_semibold;
}

.popup {
	opacity: 1 !important;
	padding: 2rem 3rem !important;
	width: 80vw;
	height: 100vh;
	z-index: 9999999 !important;
	position: absolute !important;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: $prim_white;
}

.overlay {
	position: fixed;
	z-index: 9999999 !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(#000, 0.5);
	width: 100%;
	height: 100%;
}
