@use '../../../styles/utils.scss';
@import '../../../styles/guidelines.scss';

.chooseCampaignObjective {
	padding: 2rem 0;
}

.buttonRow {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 3rem;
}