@use '../../../styles/utils.scss';
@import '../../../styles/guidelines.scss';

#login {
	height: 100%;
	.heroBG {
		@include utils.heroBG;
	}

	.loginFormContainer {
		position: relative;
		@include utils.flex(column, flex-start, center);

		.loginShadowContainer {
			margin-top: 14vh;
			@include utils.boxShadow;

			.loginForm {
				@include utils.flex(column, center, center);

				width: min(500px, 40vw);
				height: 50vh;
				background-color: white;
				border: 1px solid #d5e0d5;
				border-bottom: none;

				h2 {
					font-weight: 300;
				}

				.errorMessage {
					margin-top: 10px;
					color: var(--red);
					font-size: 14px;
				}

				.loginInputRow {
					@include utils.flex(row, flex-start, center);

					border: 2px solid;
					border-radius: 5px;
					border-color: var(--light-yellow);
					padding: 3px;
					height: 30px;
					margin-top: 2vh;
					width: min(300px, 20vw);

					.loginInput {
						height: 20px;
						width: min(280px, 17vw);
						border: none;
						font-family: Open Sans, sans-serif;
						font-size: 16px;
						font-weight: normal;
						padding-left: 5px;
					}

					.loginInput:focus {
						outline: none;
					}
				}

				.bottomRow {
					margin-bottom: 2vh;
				}
			}

			.signupRedirect {
				@include utils.flex(column, center, center);

				background-color: white;
				width: min(500px, 40vw);
				height: 20vh;
				border: 1px solid #d5e0d5;

				> p {
					text-align: center;
					width: 100%;
					margin-bottom: 15px;
				}

				> p::before,
				> p::after {
					margin-left: 20px;
					margin-right: 20px;
					background-color: #8f8e8e;
					content: '';
					display: inline-block;
					height: 1px;
					position: relative;
					vertical-align: middle;
					width: 20%;
				}
			}
		}
	}
}
