@import '../../styles/guidelines';

.statsCard {
	color: $prim_white;
	background: $green_0;
	border: 1px solid $grey_3;
	box-shadow: $box-shadow-1;
	border-radius: 7px;
	width: 200px;
	text-align: center;
	padding: 3rem 0;

	&:nth-child(4n) {
		border-right: 0;
	}

	@media only screen and(max-width: 890px) {
		border: 0;
	}
	@media only screen and(max-width: 600px) {
		border-top: 1px solid #fff;
	}
}

.imageBox {
	width: 200px;
	position: relative;

	img {
		object-fit: contain;
		width: 140px;
	}

	h3 {
		font-size: $fontsize_subtitle_32 !important;
		color: $prim_dark_1;
		position: absolute;
		top: 100px;
		left: 65px;
	}
}

.label {
	font-size: $fontsize_subtitle_24;
	color: $prim_dark_2;
}

.desc {
	font-size: $fontsize_content_14;
	color: $prim_dark_2;
	width: 100%;
}
