@use '../../styles/utils.scss';
@import '../../styles/guidelines.scss';

.ctaButton {
	font-family: 'Poppins', sans-serif;
	font-size: $fontsize_content_16;
	font-weight: $fontweight_semibold;
	box-shadow: $box-shadow-1;
	border-radius: 7px;
}

.white {
	color: $green_4;
	background: $grey_0;
}

.green {
	color: $prim_white;
	background: $green_4;
}

.primary {
	// color: $prim_white !important;
}

.secondary.green {
	background: none !important;
	color: $green_5 !important;
	border: 1px solid $green_5 !important;
	box-shadow: none !important;
}

.secondary.white {
	background: none !important;
	border: 1px solid $prim_white !important;
	color: $prim_white !important;
	box-shadow: none !important;
}

.small {
	padding: 0.5rem 2rem;
	font-size: $fontsize_content_14 !important;
}

.medium {
	padding: 1rem 3rem;
}

.large {
	padding: 1.5rem 4rem;
}
