
/* Big Boxes --------------------------------------------------------------------------------- */
.brandRegister {
  /* Center and scale the image nicely */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.brandRegisterBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Form CSS --------------------------------------------------------------------------------- */
.brandRegisterLeft {
    margin-top: 12vh;  
    width: 60vw;
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Form container */
.brandRegisterForm { 
    width: min(40vw, 600px);
    background-color: white;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.5);
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 10vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brandRegisterForm h2 {
    margin-bottom: 2vh;
}

/* Form inputs */
.brandInputRow, .brandInputSmallRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid;
    border-radius: 10px;
    border-color: var(--light-teal);
    padding: 3px;
    height: 40px;
    margin-top: 2vh;
    
}

.brandInputRow {
    width: min(500px, 40vw);
}

.brandInputSmallRow {
    width: min(245px, 19vw);
    margin-top: 15px;
}

.brandInputSmallRowLeft {
    margin-right: 10px;
}

.brandInput, .brandSmallInput {
    border: none;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding-left: 10px;
}

.brandInput {
    /* width: 30vw; */
    width: min(450px, 35vw);
}

.brandSmallInput {
    /* width: 15vw; */
    width: min(200px, 13vw);
}

.brandInput:focus, .brandSmallInput:focus {
    outline: none;
}

.brandInputIcon {
    font-size: 25px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    color: grey;

    /* background-color: blue; */
}

.errorText {
    font-size: 12px;
    color: var(--red);
    align-self: flex-start;
    padding-left: 35px;
}

/* Right side of page! ------------------------------------------------------------------------ */
.brandRegisterRight {
    width: 40vw;
}

.brandRegisterConfirm h1 {
    color: white;
    font-weight: 700;
    font-size: 50px;
    text-align: left;
}

.brandRegisterConfirm .btmText{
    margin-bottom: 5vh;
}

.brandRegisterConfirm {
    display: flex;

    /* margin-left: 5vw; */
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

.registerArrow {
    margin-left: 20px;
    width: 65px;
    object-fit: contain;
}