*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; //1rem =10px
}

body {
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif !important;
	line-height: 1.5;
	width: 100%;
	height: 100%;
	overflow-x: hidden !important;
	background: #8CD69E;
}

table {
	font-family: 'Work Sans', sans-serif !important;
	border-collapse: collapse;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit !important;
}

p {
	margin: 0 !important;
	padding: 0;
	color: #2e3b4a;
	font-size: 18px;
}

h1 {
	font-size: 46px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h1,
h2,
h3,
h4,
h5 {
	color: #3b4557;
}

ul,
li {
	list-style: none;
}

input,
label,
textarea {
	font-family: 'Work Sans', sans-serif;
}

button {
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	font-family: 'Poppins', sans-serif;

	&:focus {
		outline: none;
	}

	&:hover {
		cursor: pointer;
	}
}
