/* Primary Colors */
$prim_dark_1: #3b4557;
$prim_dark_2: #2e3b4a;
$prim_white: #fff;
$prim_black: #000;


/* Grey Color Scales  */
$grey_0: #f9f9fa;
$grey_1: #ebeef0;
$grey_2: #dde1e5;
$grey_3: #ced4d9;
$grey_4: #bdc5cc;
$grey_5: #aab4bd;
$grey_6: #95a1ac;
$grey_7: #7e8b96;
$grey_8: #636d76;
$grey_9: #3a4045;

/* GUNI GUNI GREEN & YELLOW */
$green_0: #ECFDF6;
$green_1: #D9EDDF;
$green_2: #B2E292;
$green_3: #8CD69E;
$green_4: #a4aaa8;
$green_5: #00A877;
$yellow_1: #DCEB88;

$prim_dark_1: #3b4557;
$prim_dark_2: #2e3b4a;
$prim_white: #fff;

/* Systems colors */
$accent_blue: #349af8;
$accent_orange: #fc7900;
$system_orange: #f4aa74;
$system_red: #eb675e;
$system_green: #5dc560;
$system_blue: #5381db;
$system_cream: #fff2ee;

/* Border Color */
$border-color-1: #707070;
