@use '../../../styles/utils.scss';
@import '../../../styles/guidelines.scss';

.nav {
	position: relative;
	width: 100%;
	height: 12vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.logo {
	color: $prim_dark_2;
	font-weight: $fontweight_bold;
	font-size: $fontsize_title_54;
}

.navOptions {
	height: 100%;
	width: 40%;
	justify-content: space-evenly;
	display: flex;
	flex-direction: row;
}

.navLink {
	display: flex;
	align-items: center;
	font-size: $fontsize_content_18;
}
