@use '../../styles/utils.scss';
@import '../../styles/guidelines.scss';

.ui.breadcrumb {
  background: none;

  .icon.divider {
    color: #98aeca;
    font-size: 18px;
    margin: 2px 5px;
    padding: 0;
  }

  .section {
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;

    &.active {
      color: $grey_9 !important;
      font-size: 14px !important;
      font-weight: 600 !important;
    }
  }

  .home {
    font-size: 20px;
    padding: 0;
    color: $grey_5 !important;
    transform: translateY(-2px);

    &:hover {
      color: $grey_4 !important;
    }
  }
}
