@use '../../styles/utils.scss';
@import '../../styles/guidelines.scss';

.ui.visible.bottom.overlay.sidebar {
    height: 40vh !important;
}

.blockAvailabilityPopup {
    width: 100%;
    background: $grey_0;
    position: absolute !important;
    z-index: 99999;
    padding: 1rem 2rem;

    .unit {
        padding: 15px 0;
        border-bottom: 1px solid $grey_3;
    }

    .blockNumber {
        color: $grey_6;
        font-weight: 700;
        font-size: 12px;
    }

    .unitNumber {
        margin-bottom: 10px;
        color: $prim_dark_1;
        font-size: 16px;
        font-weight: 600;
    }

    .timestamps {
        overflow: auto;
        display: grid;
        grid-template-columns: 130px 130px;
        row-gap: 10px;
        // justify-content: space-evenly;
        // align-items: center;
        // flex-wrap: wrap;
        // flex-wrap:

        button {
            width: 120px;
            height: 40px;
        }
    }
}