@use '../../styles/utils.scss';
@import '../../styles/guidelines.scss';

.title {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	font-size: $fontsize_subtitle_24;
}

.requestDates {
	// background-color: blue;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.headerRow {
	width: 100%;
	height: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	button {
		height: 30px;
	}
}