@use '../../styles/utils.scss';
@import '../../styles/guidelines.scss';

.homePage {
	// height: 100vh;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// justify-content: center;
}

.heroVector {
	max-width: 60vw;
	height: 30vh;
	object-fit: contain;
}

.heroTitle {
	font-family: 'Lemon Milk';
	color: $prim_white;
	font-size: 56px;
	font-weight: bolder;
}

.heroDesc {
	width: 70%;
	font-weight: lighter;
	margin-top: 40px;
	text-align: center;
	font-size: 28px;
	color: $prim_white;
}

.button {
	margin-top: 30px;
	border-radius: 20px !important;
}
