@use '../../styles/utils.scss';
@import '../../styles/guidelines.scss';

.newCampaignFormContent {
	background-color: $teal_0;
	margin: auto;
	margin-top: 2rem;
	height: 43rem;
	width: 80rem;
	padding: 2rem 2rem;
}

.headerText {
	color: $teal_9;
}

.headerRow {
	width: 90%;
	margin-right: 3rem;
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}
