@use '../../styles/utils.scss';
@import '../../styles/guidelines.scss';

.campaignPageHeaderRow {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
	margin-top: 18px;
}
.campaignTabList {
	display: flex;
	list-style: none;
	margin: 0 !important;
	margin-right: 20px !important;

	li {
		color: $prim_dark_2 !important;
		font-size: $fontsize_content_16 !important;
		font-family: 'Poppins', sans-serif;
		padding: 4px 10px;
		margin-right: 10px;
		border-bottom: 3px solid transparent;
		cursor: pointer !important;
	}
}

.activeCampaignTab {
	color: $prim_dark_2 !important;
	font-weight: 500 !important;
	border-bottom: 3px solid $teal_9 !important;
}
