@use '../../styles/utils.scss';
@import '../../styles/guidelines.scss';

.nav {
    width: 100%;
    background: $green_1;
    position: absolute;
    padding: 2rem 1rem;
    left: 0;
    top: 0;
}

.navButton {
    position: fixed;
    top: 15px;
    left: 15px;
}
.navIcon {
    width: 30px;
}

.navOption {
    text-transform: uppercase;
    display: flex;
    padding-left: 15px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid $grey_3;

    .navText {
        color: $grey_8;
        font-size: $fontsize_content_16;
        font-weight: 600;
    }

    .icon {
        margin-top: -4px;
        margin-right: 8px;
        color: #95a1ac;
        font-size: 14px;
        padding: 0;
    }
}

.guniguni {
    position: absolute;
    top: 0;
    font-size: 40px;
    color: $yellow_1;
    font-weight: 700;
    font-family: 'Lemon Lime', sans-serif;
}