@import '../../styles/guidelines.scss';

.MuiLinearProgress-root {
    width: 20rem;
    height: 10px;
    border-radius: 10px;
    background-color: $grey_3 !important;
}
.MuiLinearProgress-bar {
    background-color: $teal_9 !important;
    border-radius: 10px;
    // width: 500px;
}