@use '../../../styles/utils.scss';
@import '../../../styles/guidelines.scss';

.campaignDetailsForm {
	padding: 2rem 0;
}

.buttonRow {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	// padding-right: 2rem;
	margin-top: 3rem;
}

.formInput {
	width: 66%;
	font-size: $fontsize_content_16;
	font-family: 'Poppins', sans-serif;
	font-weight: $fontweight_semibold;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-bottom: 18px;
}